[build]
  command = "npm run build:all"
  # Note: Do not specify 'publish' when using @netlify/plugin-nextjs
  # The plugin handles deployment automatically

[[plugins]]
  package = "@netlify/plugin-nextjs"
